.c {
	height: 200vh;
	width: 960px;
	margin: auto;
	max-width: 95%;

}


::-webkit-scrollbar-track
{
	border: 5px solid black;
	// border color does not support transparent on scrollbar
	// border-color: transparent;
	background-color: #b2bec3;
}

::-webkit-scrollbar
{
	width: 15px;
	background-color: #dfe6e9;
}

::-webkit-scrollbar-thumb
{
	background-color: #fe921f;
	border-radius: 10px;
}
